body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
}

input {
  padding: 6px;
  margin: 5px;
}

button {
  padding: 6px 12px;
}
button {
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}
